@model IEnumerable<StalRondo.Models.Horse>

@{
    ViewBag.Title = "Index";
}

<h1>Horses</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container" style="width: 920px;">
    <div class="card-columns">
        @{
            foreach (var item in Model)
            {
                var profilePic = item.Pictures.FirstOrDefault(p => p.PictureID == item.ProfilePictureID);
                
                <div class="card">
                    <img class="card-img img-fluid" style="width:100%;" src="data:image/png;base64,@Convert.ToBase64String(profilePic.Data)" />
                    <div class="card-img-overlay" data-toggle="modal" data-target="#modal-@item.HorseID.ToString()">
                        <h4 class="card-title">@item.Name</h4>
                        <div class="card-text">@item.BirthDate</div>
                    </div>
                    <div class="card-footer">
                        <div class="card-text text-xs-right">
                            <a href="@Url.Action("Edit", new { id = item.HorseID })"><span class="fa fa-pencil"></span></a>
                            <a href="@Url.Action("Delete", new { id = item.HorseID })"><span class="fa fa-trash"></span></a>
                        </div>
                    </div>
                </div>
                <div id="modal-@item.HorseID.ToString()" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@item.Name</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" src="data:image/png;base64,@Convert.ToBase64String(profilePic.Data)" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>