@model StalRondo.ViewModels.PictureVM

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h1 class="display-1">@Html.DisplayFor(model => Model.Pictures.FirstOrDefault().Horse.Name)</h1>
        <p class="lead">@Html.DisplayFor(model => Model.Pictures.FirstOrDefault().Horse.Gender)</p>
    </div>
    <div class="row">
        @using (Ajax.BeginForm("Index", null, new AjaxOptions() { UpdateTargetId = "_Gallery", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "form-inline" }))
        {
            @Html.DropDownListFor(vm => vm.HorseID, Model.Herd, new { @class = "form-control" })
            <button type="submit" class="btn btn-info">
                <span class="fa fa-search"></span>
            </button>
            <a href="@Url.Action("Create", new { /* id=item.PrimaryKey */ })" class="btn btn-primary"><span class='fa fa-plus'></span> Toevoegen</a>
        }
    </div>
    <hr class="my-2" />
    <div class="row" id="_Gallery">
        @Html.Partial("Gallery", Model.Pictures)
    </div>
</div>
